.btn-circle {
  display: inline-block;
  vertical-align: text-top;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 0.5;
  border-radius: 15px;
  border-width: thin;
}
#light-decrease:hover{
  background-color: red;
  color: white;
}
#light-increase:hover{
  background-color: green;
  color: white;
}
.container-fluid{
  height: 100%;
  min-height: 1080px;
}
#left {
  background-color: #3b4656;
  height: 100%;
  min-height: 1080px;
  width: 30%;
  border-right: 5px groove white;
}

#right {
  background-color: #212730;
  height: 100%;
  min-height: 1080px;
}
#power-all {
  min-width: 70px;
  max-width: 20%;
}
#light{
  position: relative;
  float: right;
  margin: auto;
  text-align: center;
}
#light-increase,#light-decrease{
  font-size: 30px;
}
