
.container-fluid{
  height: 100%;
  min-height: 1080px;
}
#left {
  background-color: #3b4656;
  height: 100%;
  min-height: 1080px;
  border-right: 5px groove white;
}

#right {
  background-color: #212730;
  height: 100%;
  min-height: 1080px;
}
#power-all {
  width: 30%;
}
