.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}

.container-fluid{
  height: 100%;
  min-height: 1080px;
}
#left {
  background-color: #3b4656;
  height: 100%;
  min-height: 700px;
  width: 30%;
  border-right: 5px groove white;
}

#right {
  background-color: #212730;
  height: 100%;
  min-height: 700px;
}
#power-all {
  min-width: 70px;
  max-width: 20%;
}
