/* - Déclaration des polices - */
@font-face {
  font-family: "Artifika";
  src: url('../polices/Artifika-Regular.ttf') format('truetype');
}


#remote{
  padding:5px;
  border: 2px solid grey;
  background-color: white;
}
.button{
  padding: 5px;
  font-size: 45px;
  margin: 5px;
  font-family: "Artifika";
}
#pavenum{
  padding:5px;
}
.numbutton{
  padding: 10px;
  font-size: 20px;
  margin: 2px;
  font-family: "Artifika";
}
h1{
  border: 2px solid grey;
  padding: 5px;
  font-size: 45px;
  font-family: "Artifika";
  background-color: white;
  box-shadow: 1px 1px 3px black;
}
body{
}
